<div class="creator-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <div class="mdl-card__title-text">{{name}}</div>
    </div>
    <div class="mdl-card__description">
        <div class="mdl-card__description-text">Some description about the metric</div>
    </div>
    <div class="mdl-card__supporting-text mdl-card__value">
        {{yield}}
    </div>
    <div class="mdl-card__menu hidden">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">add</i>
        </button>
    </div>
</div>
