//General
$body-background-color: #eee; 
$primary-color: #292c38;
$navbar-height:60px;
$sidebar-width:198px;
$page-wrapper-top-padding:26px;
$page-content-height: 85%;
$page-container-width: 80%;

$title-header-bg: linear-gradient(to top, #d1d0d1, #e9e7e9);
$title-header-border: #eee;

$links-color: #59a59c;

//Page content
$page-title-color: #4B4B4B;
$page-title-size: 23px;
$button-color: #59a59c;