{{#link-to 'clients'}}
    <div class="page-back-bar">
        <i class="material-icons">arrow_back</i>
        <span class="text">Clients</span>
    </div>
{{/link-to}}

<div class="page-title single-client">{{model.name}}</div>

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            {{#link-to 'client.details' id="details-panel" class="mdl-tabs__tab"}}Details{{/link-to}}
            {{#link-to 'client.metrics' id="metrics-panel" class="mdl-tabs__tab"}}Metrics{{/link-to}}
            {{#link-to 'client.certificates' id="certificates-panel" class="mdl-tabs__tab"}}Certificates{{/link-to}}
            <hr/>
        </div>
  
    <div class="flex"></div>
   
    {{outlet}}

</div>

