//Vars
$active-link-bg: #59a59c;
$active-link-text-color: #FFF;


.mdl-layout__drawer .mdl-navigation {
    padding-top: 0;
}

 .sidebar-menu {
        ul {
            list-style: none;
            margin-left:-40px;
            li {
                height: 55px;
                a {
                    padding-left:15px;
                    padding-top:15px;
                    position: absolute;
                    width:100%; height:55px;
                    font-weight:bolder;
                    color: #717171;
                    font-size:14px;
                    
                    &.active,
                    &:hover {
                        background-color: $active-link-bg; 
                        color: $active-link-text-color;
                        text-decoration: none;
                        border-bottom: 0.1px solid white;
                        border-top: 0.1px solid white;
                        
                        
                        md-icon { color:$active-link-text-color;}
                        span { margin-left:20px;}
                    }
                    
                    &:first-of-type {
                        border-top: 0px;
                    }
                    
                    md-icon {
                        font-size: 22px;
                    }
                     span {
                        margin-left:20px;
                    }
                    
                }
                
            }
        }
    }