.table-wrapper {
    table {
       font-size: 14px;
       
       thead {
           background-color: #f7f7f7;
           
           th {
               height: 62px;
               vertical-align: middle;
               padding-top: 8px;
           }
       }
    }
} 