<div class="page-title">Account</div> 
 
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect account-tabs">
  <div class="mdl-tabs__tab-bar">
      <a href="#profile-panel" class="mdl-tabs__tab is-active">Profile</a>
      <a href="#password-panel" class="mdl-tabs__tab">Password</a>
      <hr/>
  </div>
  
  <div class="flex"></div>
  
  <div class="mdl-tabs__panel is-active" id="profile-panel">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col visible-lg">
          <div class="user-profile">
              <img class="user-profile-picture img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=83&txt=ME&w=200&h=225" alt="">
              <div class="user-profile-bar">
                <span class="name">Murat Ereksel</span>
                <span class="more-options pull-right"><i class="material-icons">more_vert</i></span>
              </div>
              <div class="user-profile-description">
                  Profile or the account summary can go here.
              </div>
          </div>
      </div>
      <div class="mdl-cell mdl-cell--9-col">
        <div class="user-details">
          <div class="section-title">Personal Details</div>
           <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col">
               <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text"  autocomplete="disabled">
                  <label class="mdl-textfield__label" >First Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text"  autocomplete="disabled">
                  <label class="mdl-textfield__label" >Last Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text"  autocomplete="disabled">
                  <label class="mdl-textfield__label" >Email</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text"  autocomplete="disabled">
                  <label class="mdl-textfield__label" >Company</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" autocomplete="disabled">
                  <label class="mdl-textfield__label" >Phone Number</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" autocomplete="disabled">
                  <label class="mdl-textfield__label" >Location</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" autocomplete="disabled">
                  <label class="mdl-textfield__label" >Website</label>
                </div>
              </form>
              </div>
            </div>
            
            <div class="pull-right">
              <!-- Raised button with ripple -->
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Update
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-tabs__panel" id="password-panel">
    <ul>
      <li>Passsssssword.</li>
    </ul>
  </div>
  
</div>

{{outlet}}
