<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
    {{#link-to 'index'}}
        <span class="navbar-logo-container">
            <span class="logo">&nbsp;</span>
        </span>
    {{/link-to}}
    <a href="#" class="navbar-brand">
        Developer Console
    </a>

      <div class="mdl-layout-spacer"></div>
      {{#link-to 'account'}} 
        <img class="img-circle img-responsive" style="width:44px;" src="https://placeholdit.imgix.net/~text?txtsize=83&txt=ME&w=200&h=200"/>
    {{/link-to}}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right hidden">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">more-vert</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
</header>